<!--This is used to edit information of a film that is stored in the database-->

<div class="row">
  <div class="col-xs-6">
    <h1>Welcome <%= admin_user.name %></h1>
  </div>
  <div class="col-xs-6 text-right">
  </br>
    <%= link_to "User Logout", '/adminlogout', class: 'btn btn-danger', :style => 'color:white' %>
  </div>
</div>

<div class="jumbotron ">

<%= form_for @adminfilm, :url => { :action => :update, :type => @type, :this => @adminfilm } do |f| %>

 <% if @adminfilm.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@adminfilm.errors.count, "error") %> prohibited
        this film from being saved:
      </h2>
      <ul>
        <% @adminfilm.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--Here are all the data the administrator can change-->
  <p>
    <%= f.label :filmtitle, value: 'Film Title' %><br>
    <%= f.text_field :filmtitle, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :filmdescription, value: 'Film Description' %><br>
    <%= f.text_area :filmdescription, class: 'form-control' %>
  </p>


  <p>
    <%= f.label :filmdirector, value: 'Film Director' %><br>
    <%= f.text_field :filmdirector, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :filmrating, value: 'Film Rating' %><br>
    <%= f.select(:filmrating, ['18', '16', '15', '12', '7', '3', 'U'], {}, { :class => 'form-control' }) %>

  </p>

  <p>
    <%= f.label :filmstarname, value: 'Film Star Name' %><br>
    <%= f.text_field :filmstarname, class: 'form-control' %>
  </p>


  <p>
    <%= f.submit 'Update Film', class: 'btn btn-primary' %>
  </p>

<% end %>
</div>

<%= link_to 'Back', '/adminCool', class: 'btn btn-info', style: 'color:white' %>
