<p>
  <strong>Film Title:</strong>
  <%= @adminfilm.filmtitle %>
</p>

<p>
  <strong>Film Description:</strong>
  <%= @adminfilm.filmdescription %>
</p>

<p>
  <strong>Film Director:</strong>
  <%= @adminfilm.filmdirector %>
</p>

<p>
  <strong>Film Rating:</strong>
  <%= @adminfilm.filmrating %>
</p>

<p>
  <strong>Film Star Name:</strong>
  <%= @adminfilm.filmstarname %>
</p>
