<!--This is used to view full information of an film-->
<div class="row">
  <div class="col-xs-6">
    <!--Displays the administrator user name-->
    <h1>Welcome <%= admin_user.name %></h1>
  </div>
  <div class="col-xs-6 text-right">
  </br>
    <!--Administrators can log out-->
    <%= link_to "User Logout", '/adminlogout', class: 'btn btn-danger', :style => 'color:white' %>
  </div>
</div>

<h2><%= @adminfilm.filmtitle %> Information</h2>

<div class="row">
  <div class="col-xs-3">
    <strong>Film Title:</strong>
    <%= @adminfilm.filmtitle %>
  </div>
  <div class="col-xs-9">
    <strong>Film Description:</strong>
    <%= @adminfilm.filmdescription %></br></br>
  </div>
  <div class="col-xs-4">
    <strong>Film Director:</strong>
    <%= @adminfilm.filmdirector %>
  </div>
  <div class="col-xs-4">
    <strong>Film Rating:</strong>
    <%= @adminfilm.filmrating %>
  </div>
  <div class="col-xs-4">
    <strong>Film Star Name:</strong>
    <%= @adminfilm.filmstarname %>
  </div>
</div>

<h2 class="text-center"><%= @adminfilm.filmtitle %> Reviews</h2>
<%= render @adminfilm.reviews %>


<!--This directs users to the administrator account page-->
<%= link_to 'Back', '/adminCool', class: 'btn btn-primary', style: 'color:white' %>