<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-3">
    <%= link_to 'Admin Login', '/adminCool', class: 'btn btn-primary', style: 'color:white' %>
    <%= link_to 'User Login', '/cool', class: 'btn btn-primary', style: 'color:white' %>
  </div>
  <div class="col-xs-6">  
  <h1 class="text-center">Games</h1>
  </div>
  <div class="col-xs-3">
  <br/>
    <div class="text-right"><%= link_to 'View Films', films_path, class: 'btn btn-primary', style: 'color:white' %></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <p class="text-center" style="font-size: 22px">Game Title</p>
    
  </div>
  <div class="col-xs-5">
    <p class="text-center" style="font-size: 22px">Game Description</p>
  </div>
  <div class="col-xs-2">
    <p class="text-center" style="font-size: 22px">Platform</p>
  </div>
  <div class="col-xs-2">
    
  </div>
</div>
<hr/>
<% @games.each do |game| %>
      <div class="row">
  <div class="col-xs-3">
    <%= game.gametitle %>
    
  </div>
  <div class="col-xs-5">
    <%= game.gameDescription %>
  </div>
  <div class="col-xs-2">
    <%= game.platform %>
  </div>
  <div class="col-xs-2">
    <%= link_to 'Show', game_path(game), class: 'btn btn-success', style: 'color:white' %>
  </div>
  </div><hr/>
<% end %>



<br>
<div class="text-center">
<%= will_paginate @games %>
</div>