<p id="notice"><%= notice %></p>

<p>
  <strong>Game Title:</strong>
  <%= @game.gametitle %>
</p>

<p>
  <strong>Game Description:</strong>
  <%= @game.gameDescription %>
</p>

<p>
  <strong>Game Rating:</strong>
  <%= @game.gamerating %>
</p>

<p>
  <strong>Game Genre:</strong>
  <%= @game.gamegenre %>
</p>



<p>
  <strong>Game Platform:</strong>
  <%= @game.platform %>
</p>


<%= link_to 'Back', games_path %>