<p id="notice"><%= notice %></p>

<h1 class="text-center"><%= @game.gametitle %> Information</h1>
</br>
<div class="row">
  <div class="col-xs-3">
    <strong>Game Title:</strong>
  <%= @game.gametitle %>
  </div>
  <div class="col-xs-9">
    <strong>Game Description:</strong>
  <%= @game.gameDescription %></br></br>
  </div>
  <div class="col-xs-4">
    <strong>Game Rating:</strong>
  <%= @game.gamerating %>
  </div>
  <div class="col-xs-4">
    <strong>Game Genre:</strong>
  <%= @game.gamegenre %>
  </div>
  <div class="col-xs-4">
    <strong>Game Platform:</strong>
  <%= @game.platform %>
  </div>
</div>
</br></br>




<%= link_to 'Back', games_path, class: 'btn btn-info', style: 'color:white' %>