  <!--The interface is used to dispay all film title and description to the interface-->

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-3">
    <!--Button below is used to all administrators to log in-->
    <%= link_to 'Admin Login', '/adminCool', class: 'btn btn-primary', style: 'color:white' %>
    <!--Button below is used to all customers to log in-->
    <%= link_to 'User Login', '/cool', class: 'btn btn-primary', style: 'color:white' %>
  </div>
  <div class="col-xs-6">  
  <h1 class="text-center">Films</h1>
  </div>
  <div class="col-xs-3">
  <br/>
      <!--Button below is used to view all games-->
    <div class="text-right"><%= link_to 'View Games', games_path, class: 'btn btn-primary', style: 'color:white' %></div>
  </div>
</div>




<%= form_tag(films_path, :method => "get", id: "search-form") do %>

<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <%= text_field_tag :search, params[:search], placeholder: "Search Film(s)", class: 'form-control' %>
  </div>
  <div class="col-xs-3">
    <%= submit_tag "Search", class: 'btn btn-success' %>

  </div>
</div>
<% end %>



<h3 class="text-center">Total Films: <%=@filmAmount %></h3></br>

<div class="row">
  <div class="col-xs-3">
    <p class="text-center" style="font-size: 22px">Film Title</p>
    
  </div>
  <div class="col-xs-7">
    <p class="text-center" style="font-size: 22px">Film Description</p>
  </div>
  <div class="col-xs-2">
    
  </div>
</div>


<hr/>


  <!--The code below display each film-->
<% @films.each do |film| %>
      <div class="row">
  <div class="col-xs-3">
    <%= film.filmtitle %>
    
  </div>
  <div class="col-xs-7">
    <%= film.filmdescription %>
  </div>
  <div class="col-xs-2">
    <%= link_to 'Show', film_path(film), class: 'btn btn-success', style: 'color:white' %>
  </div>
  </div><hr/>
<% end %>

<% if @films.blank? %>
  <h4 class="text-center" style="color: red;">There are no films containing the term "<%= params[:search] %>".</h4>
<% end %>


<% if params[:search] != nil
     %>
    <div class="text-center"><%= link_to 'Return', films_path, class: 'btn btn-primary', style: 'color:white' %></div>
<% end %>

  <!--The film is paginated-->
<div class="text-center">
<%= will_paginate @films %>
</div>