
<div class="row">
  <div class="col-xs-6">
    <h1>Welcome <%= admin_user.name %></h1>
  </div>
  <div class="col-xs-6 text-right">
  </br>
    <%= link_to "User Logout", '/adminlogout', class: 'btn btn-danger', :style => 'color:white' %>
  </div>
</div>

<div class="jumbotron ">

<%= form_for @currentuser, :url => { :action => :update, :type => @type, :currentuser => @user } do |f| %>

<%= f.error_messages %>

<% if flash[:notice] -%>
  <p style="color:red; font-size: 18px" class="notice"><%= flash[:notice] %></p>
<% end -%>
<% if flash[:error] -%>
  <p style="color:red; font-size: 18px" class="error"><%= flash[:error] %></p>
<% end -%>

    <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, :readonly => true, class: 'form-control' %>
  </p>

    <p>
    <%= f.label :email %><br>
    <%= f.text_field :email, :readonly => true, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :password, :value => 'New Password' %><br>
    <%= f.text_field :password, :value => '', :placeholder => 'New password', class: 'form-control' %>
  </p>

  <p>
    <%= f.label :salt, :value => 'Retype New Password' %><br>
    <%= f.text_field :salt, :value => '', :placeholder => 'Retype new password', class: 'form-control' %>
  </p>

  <p>
    <%= f.label :firstname, :value => 'First Name' %><br>
    <%= f.text_field :firstname, :placeholder => 'First name', class: 'form-control'  %>
  </p>

  <p>
    <%= f.label :secondname, :value => 'Second Name' %><br>
    <%= f.text_field :secondname, :placeholder => 'Second name', class: 'form-control'  %>
  </p>

  <p>
    <%= f.label :address, :value => 'Address' %><br>
    <%= f.text_field :address, :placeholder => 'Address', class: 'form-control' %>
  </p>

  <p>
    <%= f.label :postcode, :value => 'Post Code' %><br>
    <%= f.text_field :postcode, :placeholder => 'Post Code', class: 'form-control' %>
  </p>
 
  <p>
    <%= f.submit 'Update Account', class: 'btn btn-primary', style: 'color:white' %>
  </p>
 
<% end %>
</div>
<%= link_to "Back", '/adminCool', class: 'btn btn-info', style: 'color:white' %>

