

<%= form_for @currentuser, :url => { :action => :update, :type => @type, :currentuser => @user } do |f| %>

<%= f.error_messages %>

<% if flash[:notice] -%>
  <p class="notice"><%= flash[:notice] %></p>
<% end -%>
<% if flash[:error] -%>
  <p class="error"><%= flash[:error] %></p>
<% end -%>

    <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, :readonly => true %>
  </p>

    <p>
    <%= f.label :email %><br>
    <%= f.text_field :email, :readonly => true %>
  </p>

  <p>
    <%= f.label :password, :value => 'New Password' %><br>
    <%= f.text_field :password, :value => '', :placeholder => 'New password', :name => 'password' %>
  </p>

  <p>
    <%= f.label :salt, :value => 'Retype New Password' %><br>
    <%= f.text_field :salt, :value => '', :placeholder => 'Retype new password', :name => 'salt' %>
  </p>

  <p>
    <%= f.label :firstname, :value => 'First Name' %><br>
    <%= f.text_field :firstname, :name => 'firstname', :placeholder => 'First name'  %>
  </p>

  <p>
    <%= f.label :secondname, :value => 'Second Name' %><br>
    <%= f.text_field :secondname, :name => 'secondname', :placeholder => 'Second name'  %>
  </p>

  <p>
    <%= f.label :address, :value => 'Address' %><br>
    <%= f.text_field :address, :placeholder => 'Address', :name => 'address' %>
  </p>

  <p>
    <%= f.label :postcode, :value => 'Post Code' %><br>
    <%= f.text_field :postcode, :placeholder => 'Post Code', :name => 'postcode' %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>

<%= link_to "Back", '/adminCool' %>