<h1>Admin Sign In</h1>

<%= link_to 'Admin Login', '/adminlogin', :class => 'btn btn-info', style: 'color:white' %>
 
<% if @admin.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@admin.errors.count, "error") %></h2>
 
    <ul>
    <%= @admin.errors.full_messages.each do |message| %>
       <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<div class="jumbotron ">

<span id="errorMessage"></span>

<!--Form is used to sign a new administrator user.-->
<%= form_for :admin, url: '/admins' do |f| %>

  <h3>Name: <%= f.text_field :name, class:'form-control', id: 'username' %></h3>
  <h3>Email: <%= f.text_field :email, class:'form-control', id: 'email' %> </h3>
  <h3>Password: <%= f.password_field :password, class:'form-control', id: 'password' %></h3>
 <h3> Password Retype: <%= f.password_field :salt, class:'form-control', id: 'salt' %> </h3>
 <span id='message'></span>
 <h3> First Name: <%= f. text_field :firstname, class:'form-control', id: 'firstname' %></h3> 
 <h3> Second Name: <%= f.text_field :secondname, class:'form-control', id: 'secondname' %> </h3>
 <h3> Address: <%= f.text_area :address, class:'form-control', id: 'address' %> </h3>
 <h3> Post Code: <%= f.text_field :postcode, class:'form-control', id: 'postcode' %> </h3>
  <%= f.submit "Submit", :class => 'btn btn-success', id: 'submitButton' %>

<% end %>

<!--JavaScript/JQuery below is used to check if passwords match-->

 <script type="text/javascript">
   $('#password, #salt').on('keyup', function () {
    if ($('#password').val() == $('#salt').val()) {
      $("#submitButton").attr('disabled', false);
      if($("#password").val().length <= 7 && $("#salt").val().length <= 7){
          $('#message').html('Password is to short').css('color', 'red');
          $("#submitButton").attr('disabled', true);
      } else if($("#password").val().length >= 7 && $("#salt").val().length >= 7){
          $('#message').html('').css('color', 'red');
          $("#submitButton").attr('disabled', false);
      }
    }else {
          $('#message').html('Password does not match').css('color', 'red');
          $("#submitButton").attr('disabled', true);
    }
    });

      $('#username, #firstname, #secondname, #address, #postcode, #email').on('keyup', function () {

    if ($("#username").val().length < 4 || $("#firstname").val().length < 4 || $("#secondname").val().length < 4 || $("#address").val().length < 4 || $("#postcode").val().length < 4 || $("#email").val().length < 4){
      $("#submitButton").attr('disabled', true);
    }else{
      $("#submitButton").attr('disabled', false);
      if($("#email").val().indexOf('@') == -1){
      $('#errorMessage').html('It does not look like a email').css('color', 'red');
      $("#submitButton").attr('disabled', true);
    }else{
      $('#errorMessage').html('');
      $("#submitButton").attr('disabled', false);
    }
    }

    });
</script>

</div>