<h1>Admin Sign In</h1>

  <!--Administrators can log out-->
<%= link_to 'Admin Login', '/adminlogin', :class => 'btn btn-info', style: 'color:white' %>
 
  <!--Here is the code for displaying error messages-->
<% if @admin.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@admin.errors.count, "error") %></h2>
 
    <ul>
    <%= @admin.errors.full_messages.each do |message| %>
       <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="jumbotron ">
<!--Form is used to sign a new administrator user.-->
<%= form_for :admin, url: '/admins' do |f| %>

  <h3>Name: <%= f.text_field :name, class:'form-control' %></h3>
  <h3>Email: <%= f.text_field :email, class:'form-control' %> </h3>
  <h3>Password: <%= f.password_field :password, class:'form-control' %></h3>
 <h3> Password Retype: <%= f.password_field :salt, class:'form-control' %> </h3>
 <h3> First Name: <%= f. text_field :firstname, class:'form-control' %></h3> 
 <h3> Second Name: <%= f.text_field :secondname, class:'form-control' %> </h3>
 <h3> Address: <%= f.text_area :address, class:'form-control' %> </h3>
 <h3> Post Code: <%= f.text_field :postcode, class:'form-control' %> </h3>
  <%= f.submit "Submit", :class => 'btn btn-success' %>

<% end %>
</div>