<h1>Admin Sign In</h1>

<%= link_to 'Admin Login', '/adminlogin' %>

<%= form_for :admin, url: '/admins' do |f| %>

  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>