<!--This is used to edit information of a game that is stored in the database-->
<div class="row">
  <div class="col-xs-6">
    <h1>Welcome <%= admin_user.name %></h1>
  </div>
  <div class="col-xs-6 text-right">
  </br>
    <%= link_to "User Logout", '/adminlogout', class: 'btn btn-danger', :style => 'color:white' %>
  </div>
</div>

<div class="jumbotron ">

<%= form_for @admingame, :url => { :action => :update, :type => @type, :this => @admingame } do |f| %>

 <% if @admingame.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@admingame.errors.count, "error") %> prohibited
        this film from being saved:
      </h2>
      <ul>
        <% @admingame.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :gametitle, value: 'Game Title' %><br>
    <%= f.text_field :gametitle, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :gameDescription, value: 'Game Description' %><br>
    <%= f.text_area :gameDescription, class: 'form-control' %>
  </p>


  <p>
    <%= f.label :gamerating, value: 'Game Rating' %><br>
    <%= f.select(:gamerating, ['18', '16', '15', '12', '7', '3', 'U'], {}, { :class => 'form-control' }) %>
  </p>

  <p>
    <%= f.label :gamegenre, value: 'Game Genre' %><br>
    <%= f.select(:gamegenre, ['Action/Adventure', 'Role Player', 'Horror', 'Shooter', 'Fantasy'], {}, { :class => 'form-control' }) %>
  </p>

  <p>
    <%= f.label :platform, value: 'Game Platform' %><br>
    <%= f.select(:platform, ['Xbox One', 'PS4', 'PS4 & Xbox One'], {}, { :class => 'form-control' }) %>
  </p>


  <p>
    <%= f.submit 'Update Game', class: 'btn btn-primary' %>
  </p>

<% end %>

</div>
<%= link_to 'Back', '/adminCool', class: 'btn btn-info', style: 'color:white' %>
