<!--The interface is used to allow users to purchase new film.-->


<div class="row">
  <div class="col-xs-6">
    <h1>Welcome <%= current_user.name %></h1>
  </div>
  <div class="col-xs-6 text-right">
  </br>
     <!--Button below is used to log a user out-->
    <%= link_to "User Logout", '/logout', class: 'btn btn-danger', :style => 'color:white' %>
  </div>
</div>
  <!--Form is used to add new data to the database-->
<%= form_for @buyFilms do |f| %>
    <!--Here is the code for displaying error messages-->
  <% if @buyFilms.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@buyFilms.errors.count, "error") %> prohibited
        this buy from being saved:
      </h2>
      <ul>
        <% @buyFilms.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
  <%= f.label :filmtitle, :value => 'Select your film?' %><br>
   

    <%= f.collection_select :filmtitle, @films, :filmtitle, :filmtitle, {:include_blank => false}, {class: "form-control"} %>
  </p>
 
  <p>
    <%= f.label :filmprice, :value => 'Film Price' %><br>
    <%= f.text_field :filmprice, :value => '£5.00', :readonly => true, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :paymenttype, :value => 'Select your payment type?'  %><br>
    <%= f.select(:paymenttype, ['Credit/Debit Card', 'Cash', 'Cheque'], {}, { :class => 'form-control' }) %>
  </p>


  <p style="display: none;">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, :value => current_user.id, class:'form-control', readonly: true %>
  </p>

  <p style="display: none;">
    <%= f.label :username %><br>
    <%= f.text_field :username, :value => current_user.name, class:'form-control', readonly: true %>
  </p>
 
  <p>
    <%= f.submit 'Buy Film', class: 'btn btn-primary', style: 'color:white' %>
  </p>
 
<% end %>