<!--The interface provides information of all current films purchesed by a user-->
<div class="row">
  <div class="col-xs-6">
    <h1>Welcome <%= current_user.name %></h1>
  </div>
  <div class="col-xs-6 text-right">
  </br>
    <%= link_to "User Logout", '/logout', class: 'btn btn-danger', :style => 'color:white' %>
  </div>
</div>
</br>
<%= link_to 'Buy a new film', new_buy_film_path, class: 'btn btn-primary', :style => 'color:white' %>
</br></br>

<% if @filmAmount == 0 %>
<hr/>
<h3 class="text-center">No Films</h3>
<% else %>
<table class="table">
  <tr>
    <th>Film Title</th>
     <th>Film Price</th>
    <th colspan="3"></th>
  </tr>

  <% @buyFilms.each do |buyFilm| %>
    <tr>
      <td><%= buyFilm.filmtitle %></td>
      <td><%= buyFilm.filmprice %></td>
      <td><%= link_to 'Show', buy_film_path(buyFilm), class: 'btn btn-success', :style => 'color:white' %></td>
    </tr>
  <% end %>
</table>
<% end %>


<%= link_to "Home Page", '/cool', class: 'btn btn-info', :style => 'color:white' %>