Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<p> filmtitle:  <%= @rental.filmtitle %></p>
      <p> film duration:  <%= @rental.filmduration %></p>
      <p>rental status:  <%= @rental.rentalstatus %></p>

      <%= link_to 'Back', rentals_path %>