<p>
  <strong>Film Title:</strong>
  <%= @buys.filmtitle %>
</p>
 
<p>
  <strong>Film Price:</strong>
  <%= @buys.filmprice %>
</p>

<p>
  <strong>Payment Type:</strong>
  <%= @buys.paymenttype %>
</p>
 

 <p>
  <strong>Date Purchased:</strong>
  <%= @buys.created_at %>
</p>

<%= link_to 'Back', buys_path %>