<h1>User Signup</h1>

<%= link_to 'User Login', '/login', class:'btn btn-info', style: 'color:white' %>
<br/>
<br/>

 <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %></h2>
 
    <ul>
    <%= @user.errors.full_messages.each do |message| %>
       <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="jumbotron ">
<%= form_for :user, url: '/users' do |f| %>

  User Name: <%= f.text_field :name, class:'form-control' %> </br>
  Email: <%= f.text_field :email, class:'form-control' %> </br>
  Password: <%= f.password_field :password, class:'form-control' %> </br>
  Password Retype: <%= f.password_field :salt, class:'form-control' %> </br>
  First Name: <%= f. text_field :firstname, class:'form-control' %> </br>
  Second Name: <%= f.text_field :secondname, class:'form-control' %> </br>
  Address: <%= f.text_area :address, class:'form-control' %> </br>
  Post Code: <%= f.text_field :postcode, class:'form-control' %> </br>
  <%= f.submit "Register", class:'btn btn-primary' %>

<% end %>

</div>