
 <% if @film.errors.any? %>
  <% @film.errors.messages.each do |message| %>
    <div class="message"><%= message.last.last.html_safe %></div>
  <% end %>
<% end %>

<%= form_for([@film, @film.reviews.build]) do |f| %>
<% if flash[:error] -%>
  <p style="color:red; font-size: 22px" class="error"><%= flash[:error] %></p>
<% end -%>

  <p>
    <%= f.label :commenter, :value => 'Your Name' %><br>
    <%= f.text_field :commenter, :placeholder => 'Your name', class: 'form-control' %>
    <% if flash[:commenter] -%>
    <p style="color:red; font-size: 18px" class="error"><%= flash[:commenter] %></p>
      <% end -%>
  </p>
  <p>
    <%= f.label :body, :value => 'Your Review' %><br>
    <%= f.text_area :body, :placeholder => 'Your comment', class: 'form-control' %>
    <% if flash[:body] -%>
    <p style="color:red; font-size: 18px" class="error"><%= flash[:body] %></p>
      <% end -%>
  </p>
  <p>
    <%= f.label :rating, :value => 'Your Personal Rating' %><br>
    <%= f.select(:rating, ['1 Star', '2 Stars', '3 Stars', '4 Stars', '5 Stars'], {}, { :class => 'form-control' }) %>
  </p>
  <p>
    <%= f.submit 'Add Review', :class => 'btn btn-primary' %>
  </p>
<% end %>