<h1>User Log In Page</h1>

Signed in as <%= current_user.name %> | <%= link_to "User Logout", '/logout' %>

<h2>Rented Films</h2>
<table>
  <tr>
    <th>Film Title</th>
    <th>Film Duration</th>
    <th>Rental Status</th>
    <th colspan="3"></th>
  </tr>
 
  <% @rentals.each do |rental| %>
    <tr>
      <td><%= rental.filmtitle %></td>
      <td><%= rental.filmduration %></td>
      <td><%= rental.rentalstatus %></td>
    </tr>
  <% end %>
</table>

<%= link_to "View All Rent", '/rentals' %>


</br>
</br>
</br>

<h2>Purchased Films</h2>

<table>
  <tr>
    <th>Film Title</th>
    <th colspan="3"></th>
  </tr>
 
  <% @buys.each do |buy| %>
    <tr>
      <td><%= buy.filmtitle %></td>
      <td><%= link_to 'Show', buy_path(buy) %></td>
    </tr>
  <% end %>
</table>


<%= link_to "View All Purchased Films", '/buys' %>


<h2>Account Details</h2>
<table>
  <tr>
    <th>User Name</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Second Name</th>
    <th>Address</th>
    <th>Post Code</th>
    <th>Account Created</th>
    <th colspan="3"></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.firstname %></td>
      <td><%= user.secondname %></td>
      <td><%= user.address %></td>
      <td><%= user.postcode %></td>
      <td><%= user.created_at %></td>
      <td><%= link_to 'Edit', edit_login_path(user.id)  %></td>
      <td><%= link_to 'Destroy', login_path(user.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
