<h1>Admin Log In</h1>

<%= link_to 'Admin Signup', '/adminsignup' %>


<% if @admin.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@admin.errors.count, "error") %></h2>
 
    <ul>
    <%= @admin.errors.full_messages.each do |message| %>
       <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag '/adminlogin' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>