<div class="row">
  <div class="col-xs-6">
    <h1>Welcome <%= admin_user.name %></h1>
  </div>
  <div class="col-xs-6 text-right">
  </br>
    <%= link_to "User Logout", '/adminlogout', class: 'btn btn-danger', :style => 'color:white' %>
  </div>
</div>

<div class="jumbotron ">

<%= form_for @rental, :url => { :action => :update, :type => @type, :this => @rental } do |f| %>
 
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@ental.errors.count, "error") %> prohibited
        this rental from being saved:
      </h2>
      <ul>
        <% @rental.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  
 
<p><%= f.label :filmtitle, :value => "Film Name" %></p>
  <%= f.collection_select :filmtitle, @films, :filmtitle, :filmtitle, {:include_blank => false}, {class: "form-control"} %>
 
<p><%= f.label :filmduration, :value => "Film Duration" %></p>
 <%= f.select(:filmduration, ['1 day', '2 days'], {}, { :class => 'form-control' }) %>
  

 

  <p>
    <%= f.label :rentalstatus, :value => "Rental Status" %></p>
    <%= f.select(:rentalstatus, ['Reserved', 'Rented Out', 'Retruned Late'], {}, { :class => 'form-control' }) %>
  


 </br>
  <p>
    <%= f.submit 'Update Details', :class => 'btn btn-primary' %>
  </p>
 
<% end %>

</div>

<%= link_to 'Cancel', '/adminrentals', class: 'btn btn-info', style: 'color:white' %>