<!--This is used to view full information of an rental film-->
<div class="row">
  <div class="col-xs-6">
    <!--Displays the administrator user name-->
    <h1>Welcome <%= admin_user.name %></h1>
  </div>
  <div class="col-xs-6 text-right">
  </br>
  <!--Administrators can log out-->
    <%= link_to "User Logout", '/adminlogout', class: 'btn btn-danger', :style => 'color:white' %>
  </div>
</div>


<h3><strong> Film Title:</strong>  <%= @rental.filmtitle %></h3>
      <h3><strong> Film Duration: </strong> <%= @rental.filmduration %></h3>
      <h3><strong>Rental Status:</strong>  <%= @rental.rentalstatus %></h3>
<h3><strong>Rental Added:</strong>  <%= @rental.created_at %></h3>

<%= link_to 'Back', '/adminrentals', class: 'btn btn-primary', style: 'color:white' %>